.header{
    margin: 92px 50px 96px 50px;
    display: grid;
    grid-template-columns: 3.9fr 0.9fr 3.9fr;
}
.header__links-list{
    display: flex;
    align-items: center;
}
.header__links-list-main{
    display: flex;
    align-items: center;
    gap: 32px;
}
.header__links-list-item,
.header__links-list-item_no-built{
    display: list-item;
    list-style-type: none;
}
.header__links_active,
.header__link{
    text-decoration: none;
    color: rgb(0,0,0,1);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header__link{
    display: list-item;
    list-style-type: circle;
    border-bottom: 1px solid rgb(0,0,0,1);
}
